
	<%= simple_form_for @site do |f| %> 

		<%= f.input :name, label: "Site:", placeholder: 'address', class: 'fa fa-shield fa-rotate-270' %>

		<%= f.input :date, label: "Date:", placeholder: 'date', class: 'fa fa-shield fa-rotate-270' %>

		<%= f.input :tech_name, label: "Tech:", class: 'fa fa-shield fa-rotate-270' %>

		<div> 
			Do you have drawings during this pre-test? 
			<%= f.collection_radio_buttons :drawings, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :drawings_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>
		
		<div> 
			Are all signs and frames installed? 
			<%= f.collection_radio_buttons :signs, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :signs_des, label: "Explain:", label: false, class: 'form-control text-box' %>
		</div>

		<div> 
			Is Central Station Info on Panel? 
			<%= f.collection_radio_buttons :central, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :central_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Is Riser Diagram posted next to panel? 
			<%= f.collection_radio_buttons :riser, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :riser_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> Is power wiring okay at: </div>

		<div> 
			Fused Disconnect Switch? 
			<%= f.collection_radio_buttons :fds, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :fds_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Fire Alarm Switch? 
			<%= f.collection_radio_buttons :facp, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :facp_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Ground? 
			<%= f.collection_radio_buttons :ground, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :ground_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Is the panel wiring neatly dressed? 
			<%= f.collection_radio_buttons :neat, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :neat_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> Check phone lines, battery, each alarm type to central station and fire pump signals. Are they okay? </div>

		<div> Phone line 1 
			<%= f.collection_radio_buttons :line1, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %> </div>
		<div> Phone line 2 
			<%= f.collection_radio_buttons :line2, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %> </div>
		<div> Battery 
			<%= f.collection_radio_buttons :battery, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %> </div>
		<div> Pull Station 
			<%= f.collection_radio_buttons :pull, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %> </div>
		<div> Smoke 
			<%= f.collection_radio_buttons :smoke, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %> </div>
		<div> Carbon 
			<%= f.collection_radio_buttons :carbon, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %> </div>
		<div> Heat 
			<%= f.collection_radio_buttons :heat, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %> </div>
		<div> Waterflow 
			<%= f.collection_radio_buttons :waterflow, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %> </div>
		<div> Tamper 
			<%= f.collection_radio_buttons :tamper, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %> </div>
		<div> Pump Run 
			<%= f.collection_radio_buttons :pump, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %> </div>
		<div> Pump Fail 
			<%= f.collection_radio_buttons :pump_fail, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %> </div>
		<div> Pump Phase Reversal 
			<%= f.collection_radio_buttons :pump_rev, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %> </div>

		<%= f.input :general_des, label: "Explain:", label: false, class: 'form-control' %>

		<div> Check Audibles and Visibles for the following. Are they okay? </div>

		<div> 
			Correct operation 
			<%= f.collection_radio_buttons :nac_op, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :nac_op_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Sync 
			<%= f.collection_radio_buttons :nac_sync, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :nac_sync_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Random Supervision 
			<%= f.collection_radio_buttons :nac_sup, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :nac_sup_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Check recall for correct operation 
			<%= f.collection_radio_buttons :recall, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :recall_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Check Phase I for correct operation 
			<%= f.collection_radio_buttons :phase1, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :phase1_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Check Phase II for correct operation 
			<%= f.collection_radio_buttons :phase2, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :phase2_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Check all fan shutdowns throughout. Do they latch? 
			<%= f.collection_radio_buttons :fan, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :fan_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Check times on all waterflows. Are they 30-45 seconds? 
			<%= f.collection_radio_buttons :wf, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :wf_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Is there power supervision on all carbons? 
			<%= f.collection_radio_buttons :co, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :co_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Is all field wiring strapped legally to building structure? 
			<%= f.collection_radio_buttons :wire, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :wire_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Is all field wiring in mechanical rooms in pipe? 
			<%= f.collection_radio_buttons :pipe, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :pipe_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Is all flex less than 36"?
			<%= f.collection_radio_buttons :flex, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :flex_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Are all boxes checked for missing covers and knock out covers? 
			<%= f.collection_radio_buttons :covers, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :covers_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Have all covers been painted red? 
			<%= f.collection_radio_buttons :red, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :red_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Do all spliced wires have black wire nuts? 
			<%= f.collection_radio_buttons :splice, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :splice_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Is the as built riser diagram accurate?
			<%= f.collection_radio_buttons :asbuilt, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :asbuilt_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Is the A433 accurate? 
			<%= f.collection_radio_buttons :a433, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :a433_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>

		<div> 
			Does the A433 match the as built? 
			<%= f.collection_radio_buttons :match, [[true, 'Yes'] ,[false, 'No']], :first, :last, class: 'form-control' %>
			<%= f.input :match_des, label: "Explain:", label: false, class: 'form-control' %>
		</div>


		<%= f.submit "Send Checklist", class: "fa btn btn-primary" %>
	<% end %>